.my-courses-card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 0.2), 0 6px 20px 0 rgba(212, 212, 212, 0.19);
    border-radius: 10px;
    padding: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin-top: 1rem;
}