<!-- <vg-player (onPlayerReady)="videoPlayerInit($event)">
  <vg-overlay-play></vg-overlay-play>
  <vg-buffering></vg-buffering>
  <vg-controls [ngClass]="{'controls-hide': !message}">

    <vg-play-pause style="width: 30px;"></vg-play-pause>
    <vg-time-display vgProperty="current" vgFormat="mm:ss" style="font-size: small;"></vg-time-display>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
    <vg-time-display vgProperty="total" vgFormat="mm:ss" style="font-size: small;"></vg-time-display>
    <vg-playback-button style="width: 30px;"></vg-playback-button>
    <vg-mute style="width: 30px;"></vg-mute>
    <vg-volume style="width: 5vw;"></vg-volume>
    <vg-fullscreen></vg-fullscreen>
  </vg-controls>
  <video #media [vgMedia]="$any(media)" [src]="currentVideo.src" id="singleVideo" preload="auto" crossorigin>
  </video>
</vg-player> -->